* {
    color: whitesmoke;
}

.timer_Container {    
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer_Face {
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
}